<!doctype html>
<html>
<body>
<h1>Crispr App Main Page</h1>
<button id="export_button" type="button">Download as txt</button>
<button type="button">
    <a href="table" download="table.txt">Download table</a>
</button>
<br/>
<br/>

<div id="crispr_table_div">
<input class="search" placeholder="Search (subsequence/gene)" />
  <button class="sort" data-sort="total41">
          Sort by total41
  </button>
</input>
<br/><br/>
<label for="columnSelect">Select column to filter</label>
<select name="columnSelect" id="columnSelect">
    <option value="" selected>None</option>
    <option value="pos_bef_PAM">pos_bef_PAM</option>
    <option value="41_bef17">41_bef17</option>
    <option value="41_aft">41_aft</option>
    <option value="total41">total41</option>
    <option value="7_bef17">7_bef17</option>
    <option value="7_aft17">7_aft17</option>
    <option value="total7">total7</option>
    <option value="total">total</option>
</select>
<br/>
<label for="minValue">Minimum value</label><br/>
<input id="minInput" name="minValue" type="text"></input><br/>
<label for="maxValue">Maximum value</label><br/>
<input id="maxInput" name="maxValue" type="text"></input><br/>
<button type="button" onclick="updateFilter();">Filter</button>

{% if not dataframe.empty %}
<table id="crispr_table">
    <tr>
        {% for column in dataframe.columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    <tbody class="list">
    {% for index, row in dataframe.iterrows() %}
        <tr>
            {% for column in dataframe.columns %}
            <td class="{{column}}">{{ row[column] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://listjs.com/no-cdn/list.js"></script>
<script src="{{url_for('main_app.static', filename='js/tableExport.js')}}"></script>
<script src="{{url_for('main_app.static', filename='js/jquery.base64.js')}}"></script>
<script>
var options = {
    valueNames: [{% for column in dataframe.columns %} '{{column}}'{% if not loop.last %},{% endif %}{% endfor %}]
};

var crisprTable = new List('crispr_table_div', options);

var columnSelect = document.getElementById("columnSelect");
var minInput = document.getElementById("minInput");
var maxInput = document.getElementById("maxInput");

var updateFilter = function() {
    var column = columnSelect.options[columnSelect.selectedIndex].value;
    if (!column || !minInput.value || !maxInput.value) {
        // don't filter anything
        crisprTable.filter();
    } else {
        // update filter
        min = parseInt(minInput.value);
        max = parseInt(maxInput.value);

        crisprTable.filter(function(item) {
                val = parseInt(item.values()[column]);
                return (val >= min) &&
                       (val <= max)
        });
    }
};

document.getElementById("export_button").onclick = function() {
    var table = $('#crispr_table');
    table.tableExport({tableName: 'crispr_table', type: 'excel', escape: 'false'});
}
</script>
</html>
